<div class="flex flex-column">
        <h1> <span class="creative">Handy Man</span></h1>
        <h2> <span class="creative">Tu reporte de servicios</span></h2> 
        <button 
        pButton pRipple type="button" 
        label="Reportar servicio" 
        class="p-button-help p-button-lg m-2"
        (click)="registrar()"></button>                      
        <button 
        pButton pRipple type="button" 
        label="Consultar"
        class="p-button-help p-button-lg m-2"
        (click)="consultar()"></button>
</div>